body{
    margin: 0;
    padding: 0;    
    background-color: #dd7915ef;
    background-size: 200%;
    height: 100%;   
    overflow-x: hidden;
    overflow-y: scroll;
}
 /* for Chrome */
body::-webkit-scrollbar {
    display: none;
}
 /* for Chrome */
 .scrip::-webkit-scrollbar {
    display: none;
}
.table1{
    width: 100%;    
    height: 1500px;
    
}
.table2 {
    margin-left: 20%;
    margin-top:5%;
    width: 100%;    
    height: 100%;
   
}

.scrip{
    word-wrap:break-word; 
    margin-left:  20px;
    font-size: 20px;    
    width: 90%;    
    height: 100%;
    
    overflow-y: scroll;
    color: rgba(0, 0, 255, 0.76);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scrip p {
    word-wrap:break-word; 
}
.table2 td{
    
    margin-top:10px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 255, 0.76);
    width: 400px;
}
.table2 a{
    cursor: pointer;   
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 255, 0.76);
    width: 500px;
}
